<div class="container-leercapitulo">
    <h1> Pagina: {{page.actual}} de {{page.total}}</h1>

    {{#each capitulos }}
    {{#dataValues}}

    <div class="leercapitulo">


        <h1> {{titulo}}</h1>

        <p>
            {{{contenido}}}
        </p>


    </div>
    <hr width="100%" hidden="20px">

    {{/dataValues}}
    {{/each}}


    <div class="link-recordar">

        <a href="/capitulo/leer/ultimo/{{id}}/{{page.pagina}}">Recordar</a>

    </div>

    <div class="link-siguiente">

        <a href="/capitulo/leer/{{id}}/{{page.pagina}}/1">Siguiente</a>

    </div>





</div>