<div>

    <div>

        <div>
            <h1>{{ VerNovela.titulo }}</h1>
            <div>
                <img src="{{VerNovela.imagen}}" alt="imgane de {{VerNovela.titulo}}">

            </div>


        </div>

    </div>
</div>


<div>
    <form action="/capitulo/{{VerNovela._id}}" method="get">
        <button type="submit">AgregarCapirulos</button>
    </form>


</div>

<div>
    <form action="/capitulo/leer/{{VerNovela._id}}/1" method="get">
        <button type="submit">Leer Todo</button>
    </form>
</div>


<div>

    {{>capitulos}}
</div>

<p> Total de Paginas: {{page.totalPagina}}</p>
<div>
    <ul>


        {{#each page.listadoDeCap}}

        <li>
        
            <a href="/novela/{{cap}}/{{num}}"> {{num}} </a>
        </li>
        {{/each}}
    </ul>

    {{#each page.Cap }}
    <p>{{this}}</p>
    {{/each}}


    {{!-- {{page.listadoDeCap}} --}}
</div>