<div class="capitulo-contenedor">

    {{#VerNovela.dataValues}}

    <div class="vista-novela">

        <div class="contenedor-novela">


            <h1>{{titulo}}</h1>

            <div>
                <img src="{{imagen}}" alt="imgane de {{titulo}}">

            </div>



        </div>




        <div class="contenedor-link">

            <div class="link-agregar">

                <a href="/capitulo/{{id}}">Agregar capitulo</a>

            </div>


            <div class="link-vertodo">
                <a href="/capitulo/leer/{{id}}/1">Ver Todo</a>
            </div>

        </div>



    </div>
    {{/VerNovela.dataValues}}





    <div class="contenedor-capitulos">


        <div class="capitulos-pagina">

            <p> Total de Paginas: <strong>{{page.totalPagina}}</strong> </p>

            <h2>Capitulos</h2>

            <p>Total de capitulos: <strong>{{page.totalCapitulos}}</strong> </p>





        </div>



        <div class="capitulos-lista">

            {{>capitulos}}

        </div>





        <div class="capitulos-paginado">
            <ul>


                {{#each page.listadoDeCap}}

                <li>

                    <a href="/novela/{{cap}}/{{num}}"> {{num}} </a>
                </li>
                {{/each}}


            </ul>
{{!-- 
            {{#each page.Cap }}
            <p>{{this}}</p>
            {{/each}} --}}


            {{!-- {{page.listadoDeCap}} --}}
        </div>

    </div>

</div>